
    <form>
        <div class="top">  
          <i class="material-icons">movie</i>
          <p class="title-inline">Add new movie</p>
        </div>
        <div>
            <input name="testName" [(ngModel)]="movie_title" type="text" placeholder="Enter title" [ngModelOptions]="{standalone: true}"/>
        </div>
        <div>
            <input [(ngModel)]="movie_description" type="text" placeholder="Description" [ngModelOptions]="{standalone: true}"/>
        </div>
        <div>
            <input [(ngModel)]="movie_url" type="text" placeholder="YouTube URL" [ngModelOptions]="{standalone: true}"/>
        </div>
        <div>
          <mat-form-field>
              <mat-select placeholder="Genre">
                <mat-option *ngFor="let movie_genre of movie_genre_list$" [value]="movie_genre.value" (click)="setGenre(movie_genre.genre)">
                  {{movie_genre.genre}}
                </mat-option>
              </mat-select>
            </mat-form-field> 
        </div>
        <div>
            <p class="warning">{{ indicator }}</p>
        </div>
        <div>
            <button  (click)="addMovie()" type="button" class="btn btn-primary">Add</button>
        </div>
        
    </form>








