
    <form [formGroup]="movieForm" (ngSubmit) = "addMovie(movieForm.value)">
        <div class="top">  
          <i class="material-icons">movie</i>
          <p class="title-inline">Add new movie</p>
        </div>
        <div>
            <input name="testName" formControlName="movie_title" type="text" placeholder="Enter title"/>
        </div>
        <div>
            <input formControlName="movie_description" type="text" placeholder="Description"/>
        </div>
        <div>
            <input formControlName="movie_url" type="text" placeholder="YouTube URL"/>
        </div>
        <div>
            <select formControlName="movie_genre">
                <option *ngFor="let movie_genre of movie_genre_list$" value="genre" >
                        {{movie_genre.genre}}
                </option>
            </select>
          <!-- <mat-form-field>
              <mat-select placeholder="Genre">
                <mat-option *ngFor="let movie_genre of movie_genre_list$" [value]="movie_genre.value" (click)="setGenre(movie_genre.genre)">
                  {{movie_genre.genre}}
                </mat-option>
              </mat-select>
            </mat-form-field>  -->
        </div>
        <div>
            <p class="warning">{{ indicator }}</p>
        </div>
        <div>
            <button  [disabled]="!movieForm.valid" type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>








