
mdb-navbar-brand {
    margin-left: 0px;

    a {
        margin-left: 0px;
        i {
            color: #fff;
        }
    }
}

    


// nav {
//     // background: #2D2E2E;
//     height: 50%;
//     width: 100%;
//     padding: 12px;

//     a {
//         color: #fff;
//         padding: 10px;
//         display: inline-block;
//     }

//     a.appIcon {
//         color: #fff;
//         padding: 0px;
//         display: inline-block;
//     }

//     a.spacing {
//         color: #fff;
//         margin-left: 30px;
//         margin-right: 30px;
//         display: inline-block;
//     }

//     ul {
//         padding: 0;
//         margin: 0;
        
//         li {
//             display: inline;
//             a {
//                 color: #fff;
//                 padding: 10px;
//                 display: inline-block;
//             }

//             .activated {
//                 background-color: #00a8ff;
//             }
//         }
//     }
    
// }




