<body class="text-center">
    <form class="form-signin">
  <img class="mb-4" src="assets/user-group.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="text" [(ngModel)]="user_name"  class="form-control" placeholder="Username" required="" autofocus="" [ngModelOptions]="{standalone: true}">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" [(ngModel)]="password" id="inputPassword" class="form-control" placeholder="Password" required="" [ngModelOptions]="{standalone: true}">
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <p>{{indicator}}</p>
  <button (click)="login()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">© 2018-2019 ChillFlix. All right reserved.</p>
</form>
</body>
